@font-face
{
    font-family: "Air Heads";
    src: url('../fonts/air_heads/AirHeads.otf') format('opentype');
}

@font-face
{
    font-family: "CF Rebelle";
    src: url('../fonts/cf_rebelle/CFRebelle-Regular.ttf');
}

* 
{
  padding: 0;
  margin: 0;
}

html, body
{
    height: 100%;
    position: relative;
}

h2#Bienvenida
{
    font-size: 60px;
}

p#Bienvenida
{
    font-size: 40px;
}

img.sign
{
    vertical-align: middle;
    display: inline-block;
    width: 30px; 
    height: 30px;
}

img.imgRedes
{
    width: 50px; 
    height: 50px;
}

.contenido
{
    font-family: "calibri";
    text-align: center;
    position: relative;
    top: 120px;
}

.footer
{
    background: #20B2AA;
    font-family: "calibri";
}

.menu_principal
{
    background: #20B2AA;
    font-family: "calibri";
}

.menu_principal ul
{
    font-family: "calibri";
    list-style:none;
    list-style-type: none;
    text-align: center;
    width: 100%;
}
 
.menu_principal ul li
{
    float: left;
    display: inline-block;
    margin: 0px 6px 0px 6px;
}

.menu_principal ul li a
{
    font-size: 20px;
}

#footerMain
{
    position: fixed;
    z-index: 100;
    width:100%;
    bottom: 0;
    background: #20B2AA;
}

#footDireccion
{
    float: left;
    vertical-align: middle;
    margin-left: 10px;
}

#footRedesSociales
{
    float: right;
    vertical-align: middle;
    margin-right: 10px;
}

#logo_Principal
{
    width: 120px; 
    height: 120px;
}

#main_container
{
	width:100%;
	position: fixed;
	z-index: 100;
}

#titulo_principal
{
	text-align: center;
	font-size: 40px;
	margin: 15px 10px 15px 10px;
}

#tituRedes
{
    font-size: 30px;
    text-align: center;
}

